# URL of the 'render' script
render.url=http://tools.wmflabs.org/vcat/render

# Cache directory for Graphviz and image files
cache.dir=/data/project/vcat/work/cache

# Temporary directory for Graphviz and image files
temp.dir=/data/project/vcat/work/temp

# Directory with Graphviz binaries (dot, fdp)
graphviz.dir=/usr/bin
# Maximum number of concurrent processes running Graphviz (0=unlimited)
graphviz.processes=1

# Purge caches after (seconds)
purge=600
# Purge metadata after (seconds)
purge.metadata=86400

# JDBC URL for MySQL/MariaDB access to wiki table
jdbc.url=jdbc:mysql://s1.labsdb:3306/meta_p
# Username and password are read from replica.my.cnf in user's home directory

# Redis server information
redis.server.hostname=tools-redis
#redis.server.port=6379

# Redis secret used for prefix
redis.secret=0123456789

# Redis channel suffixes
redis.channel.control.suffix=-control
redis.channel.request.suffix=-requests
redis.channel.response.suffix=-responses
